$utilities: () !default;
$utilities: map-merge(
    (
        //flex
        "flex-direction": (
            responsive: true,
            property: flex-direction,
            class: flex,
            values: (
                row: row,
                column: column,
                row-reverse: row-reverse,
                column-reverse: column-reverse,
            )
        ),
        "flex-grow": (
            responsive: true,
            property: flex-grow,
            class: flex,
            values: (
              grow-0: 0,
              grow-1: 1,
            )
        ),
        "flex-wrap": (
            responsive: true,
            property: flex-wrap,
            class: flex,
            values: (
                wrap: wrap,
                nowrap: nowrap,
                wrap-reverse: wrap-reverse,
            )
        ),
        "gap": (
            responsive: true,
            property: gap,
            class: gap,
            values: $spacers
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            class: justify-content,         //暫時先命名是一樣的。
            values: (
              start: flex-start,
              end: flex-end,
              center: center,
              between: space-between,
              around: space-around,
              evenly: space-evenly,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            class: align-items,
            values: (
              start: flex-start,
              end: flex-end,
              center: center,
              baseline: baseline,
              stretch: stretch,
            )
        ),
        //margin
        "margin": (
            responsive: true,
            property: margin,
            class: m,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-x": (
            responsive: true,
            property: margin-right margin-left,
            class: mx,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-y": (
            responsive: true,
            property: margin-top margin-bottom,
            class: my,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-top": (
            responsive: true,
            property: margin-top,
            class: mt,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-end": (
            responsive: true,
            property: margin-right,
            class: me,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-bottom": (
            responsive: true,
            property: margin-bottom,
            class: mb,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-start": (
            responsive: true,
            property: margin-left,
            class: ms,
            values: map-merge($spacers, (auto: auto))
        ),
        // Padding utilities
        "padding": (
            responsive: true,
            property: padding,
            class: p,
            values: $spacers
        ),
        "padding-x": (
            responsive: true,
            property: padding-right padding-left,
            class: px,
            values: $spacers
        ),
        "padding-y": (
            responsive: true,
            property: padding-top padding-bottom,
            class: py,
            values: $spacers
        ),
        "padding-top": (
            responsive: true,
            property: padding-top,
            class: pt,
            values: $spacers
        ),
        "padding-end": (
            responsive: true,
            property: padding-right,
            class: pe,
            values: $spacers
        ),
        "padding-bottom": (
            responsive: true,
            property: padding-bottom,
            class: pb,
            values: $spacers
        ),
        "padding-start": (
            responsive: true,
            property: padding-left,
            class: ps,
            values: $spacers
        ),
        //TEXT
        "font-family": (
            rfs: true,
            property: font-family,
            class: ff,
            values: $font-families
        ),
        "font-size": (
            rfs: true,
            property: font-size,
            class: fs,
            values: $font-sizes
        ),
        "font-weight": (
            property: font-weight,
            class: fw,
            values: $font-weight
          ),
        "line-height": (
            property: line-height,
            class: lh,
            values: (
              1: 1,
              sm: $line-height-sm,      //1.25
              base: $line-height-base,  //1.5
              lg: $line-height-lg,      //2
            )
        ),
        "text-align": (
            responsive: true,
            property: text-align,
            class: text,
            values: (
              start: left,
              end: right,
              center: center,
            )
        ),
        //text-colors
        "text-color":(
            property: color,
            class: text,
            values: $theme-colors
        ),
        //background-colors
        "background-colorr": (
            property: background-color,
            class: bg,
            values: $theme-colors
        )
    ),
    $utilities
);

//flex
.d-flex {
    display: flex;
}