<div class="bg-secondary" style="max-height: 56px;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav flex-grow-1 justify-content-between fw-bold flex-md-grow-0 gap-md-12 fs-md-5">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white px-0">最新消息</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white px-0">特別規劃</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white px-0">新品上市</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white px-0">鏡框小知識</a>
                </li>
            </ul>
            <a href="#" class="d-none d-md-block" role="">
                <span class="material-symbols-outlined text-white fs-10">search</span>
            </a>
        </div>
    </div>
</div>