<header class="bg-primary" style="height: 176px;">
    <nav class="navbar navbar-expand-md">
        <div class="container flex-column align-items-stretch">
            <a class="navbar-brand" href="./index.html">
                <img class="img-fluid" style="width: 80px;" src="../assets/images/logo-white.png" alt="logo">
            </a>
            <ul class="navbar-nav row row-cols-2 flex-row text-center">
                <li class="nav-item col border border-white">
                  <a class="nav-link active" aria-current="page" href="#">系列鏡框</a>
                </li>
                <li class="nav-item col border border-white">
                  <a class="nav-link" href="#">門市據點</a>
                </li>
                <li class="nav-item col border border-white">
                  <a class="nav-link" href="#">部落格</a>
                </li>
                <li class="nav-item col border border-white">
                  <a class="nav-link" href="#">常見問題</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

