<header class="header bg-primary py-4">
    <nav class="nav container d-flex justify-content-between align-items-center">
        <h1><a href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="logo"></a></h1>
        <ul class="d-flex gap-16 fs-5 text-white">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="./faq.html">常見問題</a></li>
        </ul>
    </nav>
</header>