$bg-config:(
  // index
  banner:(
    class: 'banner',
    img:     url(/assets/images/home/home-header-sm.png),
    img-md:  url(/assets/images/home/home-header.png),
  ),
  design:(
    class: 'design',
    img:     url(/assets/images/home/index-bg-sm.png),
    img-md:  url(/assets/images/home/index-bg-md.png),
    img-lg:  url(/assets/images/home/index-bg.png),
  ),
);