.banner {
    height: calc(100vh - 180px);
}
.bg-banner {
    background-image: url(/assets/images/home/home-header-sm.png);
    background-size: cover;   //「不變形」、「寬高等比例」、「在必要時局部裁切」
}

@include media-breakpoint-up(md) {
    .banner {
        height: calc(100vh - 80px);
    }
    .bg-banner {
        background-image: url(/assets/images/home/home-header.png);
    }
}