$bg-config:(
  banner:(
    class: 'banner',
    img:     url(/assets/images/home/home-header-sm.png),
    img-md:  url(/assets/images/home/home-header.png),
  ),
  design:(
    class: 'design',
    img:     url(/assets/images/home/index-bg-sm.png),
    img-md:  url(/assets/images/home/index-bg-md.png),
    img-lg:  url(/assets/images/home/index-bg.png),
  ),
  double:(
    class: 'double',
    img:     url(/assets/images/home/home-section4-1-sm.png),
    img-md:  url(/assets/images/home/home-section4-1.png),
  ),
  youth:(
    class: 'youth',
    img:     url(/assets/images/home/home-section4-2-sm.png),
    img-md:  url(/assets/images/home/home-section4-2.png),
  ),
);

@each $name, $value in $bg-config {
  $class: map-get($map: $value, $key: class);
  $img: map-get($map: $value, $key: img);
  $img-md: map-get($map: $value, $key: img-md);
  $img-lg: map-get($map: $value, $key: img-lg);
  
  .bg-#{$class}{
    @include bg-img($img, $img-md, $img-lg);
  }
}


.bg-banner {
  height: calc(100vh - 180px);
  @include media-breakpoint-up(md) {
        height: calc(100vh - 80px);
  }
}
.bg-double, .bg-youth {
  height: 240px;
}