<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="">
      <div class="banner bg-banner">
        <div class="container h-100 d-flex flex-column justify-content-center align-items-end">
            <h2 class="text-secondary fs-4 fs-md-9">Promise-Desert 2020 早春系列</h2>
            <h1 class="text-secondary fs-6 fw-bold pb-1 fs-md-16">看得清，才能看得遠</h1>
            <a href="#" class="bg-primary text-white fs-5 fw-medium py-6px px-3">立即購買</a>
        </div>
      </div>

      <div class="service bg-third">
        <div class="container py-10 py-md-20">
        <h3 class="text-secondary fs-6 fw-bold text-center pb-6 fs-md-12">用專業的心，做專業的事</h3>
        <ul class="row row-cols-1 g-6 row-cols-md-2 row-cols-lg-4">
            <li class="col">
              <div class="card align-items-center bg-third border-0">
                <img class="img-fluid mb-4" style="width:100px" src="../assets/images/home/home-section2-1.png" alt="single price">
                <div class="card-body p-0">
                  <h5 class="card-title text-secondary fs-6 fw-bold text-center">單一價格</h5>
                  <p class="card-text text-start">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card align-items-center bg-third border-0">
                <img class="img-fluid mb-4" style="width:100px" src="../assets/images/home/home-section2-2.png" alt="pickup">
                <div class="card-body p-0">
                  <h5 class="card-title text-secondary fs-6 fw-bold text-center">20 分鐘即可取件</h5>
                  <p class="card-text text-start">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card align-items-center bg-third border-0">
                <img class="img-fluid mb-4" style="width:100px" src="../assets/images/home/home-section2-3.png" alt="Safe after-sales service">
                <div class="card-body p-0">
                  <h5 class="card-title text-secondary fs-6 fw-bold text-center">安心售後服務</h5>
                  <p class="card-text text-start">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card align-items-center bg-third border-0">
                <img class="img-fluid mb-4" style="width:100px" src="../assets/images/home/home-section2-4.png" alt="about glasses">
                <div class="card-body p-0">
                  <h5 class="card-title text-secondary fs-6 fw-bold text-center">關於鏡片</h5>
                  <p class="card-text text-start">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </div>
              </div>
            </li>
        </ul>
        </div>
      </div>

      <div class="classic">
        <div class="container py-10 py-md-20">
          <h3 class="text-secondary fs-6 fw-bold text-center pb-6 fs-md-12 pb-md-12">經典系列鏡框</h3>
          <ul class="row flex-column align-items-center text-center g-6 flex-lg-row">
              <li class="col col-md-6 col-lg-4">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <a href="#" class="card-link">
                      <img class="img-fluid mb-2" src="../assets/images/home/home-section3-1.png" alt="OPTICAL">
                      <h5 class="card-title fs-12 roboto-bold-italic mb-0">OPTICAL</h5>
                    </a>
                  </div>  
                </div>
              </li>
              <li class="col col-md-6 col-lg-4">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <a href="#" class="card-link">
                      <img class="img-fluid mb-2" src="../assets/images/home/home-section3-2.png" alt="SUNGLASSES">
                      <h5 class="card-title fs-12 roboto-bold-italic mb-0">SUNGLASSES</h5>
                    </a>
                  </div>  
                </div>
              </li>
              <li class="col col-md-6 col-lg-4">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <a href="#" class="card-link">
                      <img class="img-fluid mb-2" src="../assets/images/home/home-section3-3.png" alt="FUNCTIONAL">
                      <h5 class="card-title fs-12 roboto-bold-italic mb-0">FUNCTIONAL</h5>
                    </a>
                  </div>  
                </div>
              </li>
          </ul>
        </div>
      </div>

      <div class="design bg-design fs-12 fw-bold text-center">
        <div class="container py-10 py-md-20">
          <h3 class="text-white fs-6 fw-bold text-center pb-6 fs-md-12 pb-md-12">聯名設計鏡框</h3>
          <ul class="row flex-column g-6 flex-lg-row g-lg-0">
            <li class="col">
              <div class="card border-0" style="--bs-border-radius: 0rem;">
                <div class="card-body p-0">
                  <a href="#">
                    <div class="bg-double"></div>
                    <h4 class="fs-12 roboto-black-italic py-2">DOUBLE A+</h4>
                  </a>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0" style="--bs-border-radius: 0rem;">
                <div class="card-body p-0">
                  <a href="#">
                    <div class="bg-youth"></div>
                    <h4 class="fs-12 roboto-black-italic py-2">YOUTH</h4>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    <div class="customer">
      <div class="container">
        <h3 class="text-secondary fs-6 fw-bold text-center pb-6 fs-md-12 pb-md-12">顧客推薦</h3>
        <div>
          <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-6">
              <li class="col">
                <div class="card">
                  <img class="card-img-top object-fit-cover img-fluid" src="../assets/images/home/home-section5-1.png" alt="Jessy" style="height: 306px;">
                  <div class="card-body d-flex flex-column justify-content-between" style="height: 205px;">
                    <div>
                      <h5 class="card-title">Jessy</h5>
                      <p class="card-text fw-medium">眼鏡品質優良，下次還會想來這邊購買！</p>
                    </div>
                    <p class="card-text"><small>2021/06/20</small></p>
                  </div> 
                </div>
              </li>
              <li class="col">
                <div class="card">
                  <img class="object-fit-cover img-fluid" src="../assets/images/home/home-section5-2.png" alt="凱倫" style="height: 306px;">
                    <div class="card-body">
                      <h5 class="card-title">凱倫</h5>
                      <p class="card-text fw-medium">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                      <p class="card-text"><small>2021/04/18</small></p>
                    </div>
                </div>
              </li>
              <li class="col">
                <div class="card">
                  <img class="object-fit-cover img-fluid" src="../assets/images/home/home-section5-3.png" alt="悠悠" style="height: 306px;">
                    <div class="card-body">
                      <h5 class="card-title">悠悠</h5>
                      <p class="card-text fw-medium">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                      <p class="card-text"><small>2020/12/25</small></p>                    
                    </div>
                </div>
              </li>
              <li class="col">
                <div class="card">
                  <img class="object-fit-cover img-fluid" src="../assets/images/home/home-section5-4.png" alt="Kyuan" style="height: 306px;">
                  <div class="card-body">
                    <h5 class="card-title">Kyuan</h5>
                    <p class="card-text fw-medium">服務很好，品質沒有任何問題，非常喜歡。</p>
                    <p class="card-text"><small>2020/10/31</small></p>                    
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
  </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
